body {
    height: 100vh;
    width: 100%; 
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.box{
    border: 1px solid #242424;
    border-radius: 10px;
    overflow: hidden;

}

#box1{
    width: 100%;
    height: 23%;
    display: flex;
    align-items: center;
}

#box23456{
    display: flex;
    width: 100%;
    height: 54%;
    flex-direction: row;
}

#box35{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

#box46{
    display: flex;
    width: 25%;
    height: 100%;
    flex-direction: column;
}

#box2{
    width: 25%;
    height: 100%;
    padding-right: 5px;
}

#box3{
    width: 100%;
    height: 14%;
}

#box4{
    width: 100%;
    height: 78%;
}

#box5{
    width: 100%;
    height: 86%;
}

#box6{
    width: 100%;
    height: 22%;
}

#box7{
    width: 100%;
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#box_x{
    border: 1px solid #858585;
    width: 20%;
    padding: 10px;
    margin-left: 5%;
}


#box_y{
    border: 1px solid #858585;
    width: 20%;
    padding: 10px;
    margin-right: 5%;
}

a {
    color: blue;
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.text {
    text-align: center;
    padding:  10px;
}